/* Tablet/iPad Media Query */
@media (min-width: 768px) {
    .page-break {
        margin: 4rem auto;
    }
    .nav-menu {
        width: 30%;
    }

    .logo-link {
        width: 60px;
        height: 60px;
    }

    .site-title {
        font-size: 2rem;
    }

    .hero__content {
        padding: 1.8rem;
        margin-top: 7rem;
        max-width: 90%;
        opacity: 1;
    }

    .signature {
        left: 40%;
        z-index: 2;
    }

    .signature img {
        max-width: 175px;
    }
    .cta-content {
        z-index: 2;
        left: 41%;
        top: 92%;
    }

    .services-grid,
    .benefits-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 1.5rem 0;
    }

    .h1-background-image {
        top: 58%;
        left: 50%;
        height: 138vh;
    }
}

/* Desktop/Laptop Media Query */
@media (min-width: 1024px) {
    .page-break {
        margin: 5rem auto;
    }
    .container {
        padding: 1rem;
    }

    .top-header {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .logo-link {
        width: clamp(60px, 15vw, 100px);
        height: clamp(60px, 15vw, 100px);
    }

    .site-title {
        font-size: clamp(2rem, 6vw, 3.5rem);
    }

    .nav-menu {
        width: 15%;
    }

    .hero {
        margin-bottom: 6rem;
    }

    .hero__content {
        padding: 2rem;
        margin-top: 10rem;
        max-width: 90%;
    }

    .h1-background-image {
        top: 47%;
        height: 135vh;
    }

    .signature {
        top: 96%;
        left: 42%;
    }

    .signature img {
        max-width: 200px;
    }

    .cta-content {
        left: 45%;
        top: 105%;
    }

    .services-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 2rem 0;
    }

    .benefits-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem 0;
    }

    .service-card,
    .benefit {
        padding: 2rem;
    }
}

/* Large Desktop Media Query */
@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }

    .hero__content {
        max-width: 80%;
        margin-top: 25rem;
    }

    .cta-content {
        left: 43%;
        top: 108%;
    }

    .main-nav {
        left: 2%
    }
}